body{
	margin:0px;
}
header{
	background-color: #4b4b4b;
	height: 50px;
	
}

footer{
	background-color: #4b4b4b;
	height: 50px;
	
}
.container{
		margin-top: 10px;
		margin-bottom:10px;
	width:100%;
	height:500px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;	
	
	

}

.col2{
	background-color: yellow;
	width: 30%;
	height: 500px;
	
}

.col1{
	width: 70%;
}

.row1{
background-color: red;
height:50%;
}

.row2{
background-color: orange;
height:50%;
}


/*
Tablet
*/
@media screen and (max-width:760px)
{
	.container{
		width: 100%;
		flex-flow: row;
	}
 }
/*
Mobile
*/
@media screen and (max-width: 480px)
{
	.container{
		flex-wrap: nowrap;	
		
		width:100%;
		flex-flow:column;
	}
	.col1,.col2{
		width: 100%;
			}
	.col1{
		height: 100%;
	}
}

