body{
 margin: 0px;	
}

header,footer{
	background-color: #3c3c3c;
	height: 50px;
}

.container{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height:500px;
	display:flex;
	flex-direction: row;
	

}
.col1{
	background-color: green;
	width: 25%;
	height: 100%;
}
.col3{
	background-color: yellow;
	width: 25%;
	height: 100%;
}
.col2{
	background-color: red;
	width: 50%;
	height: 100%;
}
.col1{
	order: 1;
}
.col2{
	order: 2;
  	}
.col3{
	order: 3;
  	}

/*tablet */

@media screen and (max-width: 800px)
{
		.container{
			width: 100%;
			flex-flow: row;
			flex-wrap: wrap;
			
			}
  .col2{
  	order:1;
  	width: 100%;
  	height: 50%;
  }
  
.col1{
	order: 2;
	width: 50%;	
	height: 50%;	
  	}
  	.col3{  		
	order: 3;  
	height: 50%; 	
	width: 50%;
	}
  }
/*mobile */

@media screen and (max-width: 375px)
{
	.container{
		flex-wrap: nowrap;	
		width:100%;
		flex-flow:column;
	}
	.col1,.col3{
		width: 100%;
		height: 50%;
		
			}
			.col2{
				width: 100%;
				height: 100%;
			}
	
}



